@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

body a {
  color: #ffffff;
}

.header {
  background: #f4f9e2 url(../images/discuss.png) 100% no-repeat;
}

.header__wrap {
  width: 1082px;
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11vh;
}

.header__menu {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 233px;
}

.header__button {
  margin: 15px 0 0 0;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #62d0df;
  border-radius: 50px;
  padding: 16px 30px;
}

.header__content {
  width: 484px;
  height: 89vh;
  padding: 150px 0 0 0;
}

.header__title {
  margin: 30px 0 50px 0;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356f;
}

.header__text {
  font-size: 24px;
  line-height: 42px;
  color: #22356f;
  margin: 0 0 43px 0;
}

.header__question {
  display: inline-block;
  margin: 0 40px 0 0;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #fab63e;
}

.header__question_active {
  background: #f9b640;
  padding: 10px 30px;
  color: #ffffff;
}

.logo {
  font-size: 24px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62d0df;
}

.logo__text {
  font-size: 36px;
  display: inline-block;
}

.header-item {
  font-size: 14px;
  line-height: 16px;
}

.header-item a {
  color: #22356f;
}

.header-item_active {
  padding: 0 0 10px 0;
  -webkit-box-shadow: inset 0px -1px 0px #22356f;
          box-shadow: inset 0px -1px 0px #22356f;
}


.content-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-question__question {
  background: #62d0df;
  width: 100%;
}

.content-question__wrap {
  width: 555px;
  margin: 0 auto;
}

.content-question__title {
  padding: 150px 0 75px 0;
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
}

.content-question__text {
  font-size: 24px;
  line-height: 35px;
}

.content-question__text span {
  font-size: 18px;
}

.content-about__body {
  padding: 150px 0 0 0;
}

.content-about__text {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  color: #22356f;
  width: 592px;
  margin: 0 auto;
}

.content-title {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #22356f;
}

.content-title_orange {
  color: #fab63e;
}

.content-title_blue {
  color: #62d0df;
}

.content-title__white {
  color: #fff;
}

.content-title__position {
  padding: 8px 0 0 150px;
  position: absolute;
}

.content-help__body {
  padding: 76px 0 120px 0;
}

.content-help__title {
  margin: 0 0 24px 0;
  color: rgba(34, 53, 111, 0.5);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
}

.content-help__circle {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #e9b730;
  display: inline-block;
  margin: 8px 15px 12px 0;
}

.content-help__li {
  padding: 72px 0 0 0;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.content-help__li_pink {
  background: #ffe2de;
}

.content-help__li_green {
  background: #c4e769;
}

.content-help__li_blue {
  background: #62d0df;
}

.content-help__li_dark-blue {
  background: #0052c1;
}

.content-help__li_dark {
  background: #22356f;
}

.content-help__li_white {
  background: #dee1ff;
}

.content-help__li_violet {
  background: #8f00ff;
}

.content-help__li_strawberry {
  background: url("../images/strawberry.png") 0 0/cover no-repeat;
}

.content-help__row {
  height: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-help__row:nth-child(1) {
  height: 360px;
  margin: 0 0 120px 0;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.content-help-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 0 0 0;
  width: 255px;
  margin: 0 auto;
  border-top: 2px solid #fff;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
}

.content-plan__col {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.content-plan-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 240px;
}

.content-plan-item {
  margin: 0 auto;
  width: 298px;
}

.content-plan-item__title {
  padding: 0 0 28px 0;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  color: #22356f;
}

.content-plan-item__text {
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.content-knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-knowledge__col {
  width: 100%;
  margin: 100px 0 0 0;
}

.content-knowledge__text {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.01em;
  color: #22356f;
  padding: 225px 0 152px 0;
}

.content-knowledge__wrap {
  width: 676px;
  margin: 0 auto;
}

.content-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-contact__smile {
  width: 100%;
  background: #22356f;
}

.content-contact__col {
  width: 580px;
  margin: 0 auto;
  padding: 103px 0 0 0;
}

.content-contact__title {
  font-size: 64px;
  line-height: 94px;
  letter-spacing: -0.01em;
  padding: 200px 0 75px 0;
}

.content-contact__text {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  padding: 0 0 80px 0;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__info {
  width: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 98px 0 0 0;
}

.footer-top-item {
  width: 200px;
  font-size: 14px;
}

.footer-top-item__title {
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #22356f;
  padding: 0 0 50px 0;
}

.footer-top-item__text {
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.footer-top-item__text span {
  display: inline-block;
  margin: 30px 0 0 0;
}

.footer-top-item__text a {
  color: blue;
}

.footer-bottom {
  height: 80px;
  background: #62d0df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__text {
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  padding: 0 0 0 180px;
}

.footer-bottom__text pre {
  display: inline;
}